.jumbotron {
  padding: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #E8E8E8;
/*	background-image: url('/assets/divider1.jpg');
	background-position: center center;
	background-size: cover;*/
}


#error_explanation {
	color: #f00;
	ul {
		list-style: none;
		margin: 0 0 18px 0;
	}
}

.field_with_errors {
	@extend .control-group;
	@extend .error !optional;
}

.alert {
	margin-bottom: 0px;
	font-style: bold;
}
	