.jumbotron {
  padding: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #E8E8E8;
/*	background-image: url('/assets/divider1.jpg');
	background-position: center center;
	background-size: cover;*/
}